boto==2.48.0
boto3==1.7.31
botocore==1.10.31
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
docutils==0.14
gensim==3.4.0
h5py==2.7.1
idna==2.6
jmespath==0.9.3
Keras==2.1.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.5.7
urllib3==1.22
absl-py==0.2.2
astor==0.6.2
bleach==1.5.0
boto==2.48.0
boto3==1.7.31
botocore==1.10.31
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
docutils==0.14
gast==0.2.0
gensim==3.4.0
grpcio==1.12.1
h5py==2.7.1
html5lib==0.9999999
idna==2.6
jmespath==0.9.3
Keras==2.1.6
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.5.7
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
dash==0.21.1  # The core dash backend
dash-renderer==0.13.0  # The dash front-end
dash-html-components==0.11.0  # HTML components
dash-core-components==0.23.0  # Supercharged components
plotly
